@using Viewbox;
@using Viewbox.Properties;
@using SystemDb;
@model  Viewbox.Models.FileSystemModel
    <div class="header">
    <h3>@Resources.FileSystemFiles</h3>
    <div class="search-panel">
        <div class="bg-left"></div>
            <input class="field bg-middle placeholder" id="fileFilter" name="fileFilter" type="text" value="@Resources.SearchPhrase" placeholder="@Resources.SearchPhrase" />
            <input type="submit" class="submit" value="" />
    </div>
</div>
    @if (Model.Files != null && Model.Files.Count() != 0)
    {
        <div class="table-header">
            <table class="filesysHeader">
                <thead>
                    <tr>
                        <th width="50%">@Resources.FileSystemFileName</th>
                        <th width="20%">@Resources.FileSystemFileSize</th>
                        <th width="30%">@Resources.FileSystemFileDate</th>
                    </tr>
                </thead>
            </table>
        </div>
    <div class="table-body scroll">
        <table class="filesysBody">
            <tbody>
                @foreach (var file in Model.Files)
                {
                    double size = ((double)file.Size / 1024) / 1024;
                    <tr>
                        <td width="50%">@file.Name</td>
                        <td width="20%">@size.ToString("0.##") MB</td>
                        <td width="30%">@file.Date.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        <div class="no-result">@Resources.FoundNoFiles</div>
    }
<script>
    //function setFilesContainer()
    //{
    //    var displayHeight = $(".content-inner").height() - ($("#searcHeader").height() + 1);
    //    $("#FilesContainer").height(displayHeight);
    //}
    function setFilesTableBody() {
        var displayHeight = $("#FilesContainer").height() - ($(".header").height() + $(".table-header").height() + 1);
        $(".table-body").height(displayHeight);
    }
    function setFilesTableHead() {
        var displayWidth = $(".filesysHeader").width() - 18;
        $(".filesysHeader").width(displayWidth);
    }
    //setFilesContainer();
    setFilesTableBody();
    setFilesTableHead();
</script>