@using SystemDb.Upgrader
@using Viewbox.Properties
@model Viewbox.Models.ControlCenterModel
<div class="content-box">
    <div class="content-outer">
        <div class="content-inner content-left">
        
            <div class="header">
                <h3>@Resources.ActionLog</h3>		        
            </div>
            <div class="tabbar">
                <a href="@Url.Action("Index")" class="tabheader @(Model.NewLogActions == null ? "selected" : "") ">@Resources.UserActions</a>
                @if (Model.User.CanGrant || Model.User.IsSuper)
                {
                    <a href="@Url.Action("OtherUser")" class="tabheader @(Model.NewLogActions != null ? "selected" : "")">@Resources.AllUserActions</a>
                }
            </div>
            <div class="tab-content scroll @(Model.NewLogActions != null ? "hide" : "")">
                @if (Model.Actions != null && Model.Actions.Count > 0)
                {
                    <table class="overview">
                        <thead>
                            <tr>
                                <th class="column-left"><a href="#" title="">@Resources.Time</a></th>
                                <th><a href="#" title="">@Resources.Job</a></th>
                                <th class="text-right column-right"><a href="#" title="">@Resources.Action</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (int i = Model.Actions.Count - 1; i >= 0; i--)
                                {<text>@Html.Partial("_ActionPartial", Model.Actions[i])</text>
                                }
                            }
                        </tbody>            					
                    </table>
                }
                else
                {
                    <div class="overview">@Resources.NoActionsRecorded</div>
                }
            </div>
           
            <div class="tab-content @(((Model.User.IsSuper || Model.UserList.Count > 0) && Model.NewLogActions != null) ? "" : "hide")">
                <div class="actionfilter">
                    <span style="display: inline-block"> 
                        @using (Html.BeginForm("OtherUser", "ControlCenter"))
                        {
                            <span>@Resources.User :</span>
                            @Html.DropDownList("id", Model.UserList)
                            ;
                            <span>@Resources.Date :</span>
                            @Html.TextBox("filterdate", DateTime.Now.ToShortDateString(), new {Class = "date actionfield"})
                            ;
                            @Html.Hidden("showHidden", Model.ShowHidden)
                            <input type="submit" value="@Resources.Submit" />
                        }
                    </span>
                </div>
                <div class="tabbar">
                    <a href="@Url.Action("OtherUser", "ControlCenter", new {id = Model.UserId, filterdate = Model.LogDate})" class="tabheader @((Model.ShowHidden) ? "" : "selected")">@Resources.Visible</a>
                    <a href="@Url.Action("OtherUser", "ControlCenter", new {id = Model.UserId, filterdate = Model.LogDate, showHidden = true})" class="tabheader @((Model.ShowHidden) ? "selected" : "")">@Resources.Hidden</a>
                </div>  
                @if (Model.NewLogActions != null && Model.NewLogActions.Count > 0)
                {
                    <div class="tab-content scroll">
                        <table class="overview">
                            <thead>
                                <tr>
                                    <th class="column-left"><a href="#" title="">@Resources.Time</a></th>
                                    <th><a href="#" title="">@Resources.Job</a></th>
                                    <th class="text-right column-right"><a href="#" title="">@Resources.Action</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = Model.NewLogActions.Count - 1; i >= 0; i--)
                                    {<text>@Html.Partial("_NewLogActionPartial", Model.NewLogActions[i])</text>
                                    }
                                }
                            </tbody>            					
                        </table>
                    </div>
                }
                else
                {
                    <div class="overview">@Resources.NoActionsRecorded</div>
                }
            </div>
        </div>
        <div class="content-inner content-right">
            
            <div class="header">
                <h3>@Resources.RunningJobs</h3>
                <div class="search-panel">
                    <div class="bg-left"></div>
                    @using (Html.BeginForm(null, null, FormMethod.Get, new Dictionary<string, object> { { "id", "searchoverview-jobs" } }))
                    {
                        <input class="field bg-middle-jobs placeholder" name="search" type="text"
                               value="@(String.IsNullOrEmpty(Model.SearchPhrase) ? Model.LabelSearch : Model.SearchPhrase)" placeholder="@Model.LabelSearch" />
                        <input type="submit" class="submit" value="" />
                    }
                </div>
            </div>
            <div class="tabbar">
                <a href="#" class="tabheader all selected">@Resources.All</a>
                <a href="#" class="tabheader active">@Resources.Active</a>
                <a href="#" class="tabheader done filter">@Resources.Finished</a>
                @if (Model.User.IsSuper)
                {
                    <a href="#" class="tabheader alljobs filter">@Resources.OtherUserJobs</a>
                }
            </div>
            
            <div class="tab-content scroll scroll-x jobs all">
                @Html.Partial("_JobListPartial", Model)
            </div>
					
            <div class="data">
                <div class="state-box">
                    <ul>
                        <li>
                            <div class="label">
                                <strong>@Resources.CPULoad:</strong>
                                @Model.CpuLoadDisplayString
                            </div>
                            <div class="progress">
                                <div class="value" style="width: @Model.CpuLoadStyleWidth"></div>
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                <strong>@Resources.DiskLoad:</strong>
                                @Model.DiscSpeedDisplayString
                            </div>
                            <div class="progress">
                                <div class="value" style="width: @Model.DiscSpeedStyleWidth"></div>
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                <strong>@Resources.FreeMem:</strong>
                                @Model.FreeMemDisplayString
                            </div>
                            <div class="progress">
                                <div class="value" style="width: @Model.FreeMemStyleWidth"></div>
                            </div>
                        </li>
                        <li>
                            <div class="label">
                                <strong>@Resources.FreeSpace:</strong>
                                @Model.FreeDiscSpaceDisplayString
                            </div>
                            <div class="progress">
                                <div class="value" style="width: @Model.FreeDiscSpaceStyleWidth"></div>
                            </div>
                        </li>
                        <li>
                            <div class="label" style="width: 350px;">
                                <strong>@Resources.ViewboxVersion:</strong>
                                @Model.ViewboxVersion
                            </div>
                        </li>
                        <li>
                            <div class="label" style="width: 350px;">
                                <strong>@Resources.ViewboxDbVersion:</strong>
                                @VersionInfo.CurrentDbVersion
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>