@using Viewbox
@model Viewbox.Models.DocumentsOverviewModel

@{
    if (ViewboxApplication.MayrMelnhofBelegarchiv)
    {
        <div class="header" style="color:#000000;">
            <div style="float:left;padding-top:7px;display:inline-block;">
                <div id="tableId" style="display:none;">@Model.TableId</div>
                <span> Ticketnummer:</span>
                <span colid="@Model.TicketNumberColumnId" id="Ticketnumber">@Model.TicketNumber</span>
            </div>
            <div id="ItemNumberPaging" class="nav-controls" style="padding-top:3px;">

                @if (Model.OnItemNumber > 1)
                {
                    <a page="1" class="iconx first"></a>
                    <a page="@Model.BackToItemNumber" class="iconx back"></a>
                }
                else
                {
                    <span class="iconx first"></span>
                    <span class="iconx back"></span>
                }
                <span>Artikelnummer - </span>
                <span colid="@Model.OnItemNumberColumnId" id="Itemnumber">@Model.OnItemNumber</span>
                <span> / 1 - @Model.ItemNumberCount</span>
                @if (Model.OnItemNumber < Model.ItemNumberCount)
                {
                    <a page="@Model.NextToItemNumber" class="iconx next"></a>
                    <a page="@Model.ItemNumberCount" class="iconx last"></a>
                }
                else
                {
                    <span class="iconx next"></span>
                    <span class="iconx last"></span>
                }
            </div>
        </div>
    }
    if (Model.IsHtml)
    {
        <iframe id="DocumentOverviewIFrame" onload="setIFrameLoaded();" src="@Url.Action("GetDocumentsOverViewFile", "Documents", new { file=Model.Name, ext=Model.Extension })" style="width: 100%; height: 94%;"></iframe>
    }
    else
    {
        <img src="" style="margin-top:200px;" />
    }
}