@using Viewbox.Models
@using Viewbox.Properties
@model Viewbox.Models.InformationModel
@if (Model.ControlModel == null)
{
    @Resources.InfomationNotAvailable
}
else
{
    <div class="data" id="data">
        <div class="state-box" id="state-box">
            <ul>
                <li>
                    <div class="label">
                        <strong>@Resources.CPULoad:</strong>
                        @Model.ControlModel.CpuLoadDisplayString
                    </div>
                    <div class="progress">
                        <div class="value" style="width: @Model.ControlModel.CpuLoadStyleWidth">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <strong>@Resources.DiskLoad:</strong>
                        @Model.ControlModel.DiscSpeedDisplayString
                    </div>
                    <div class="progress">
                        <div class="value" style="width: @Model.ControlModel.DiscSpeedStyleWidth">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <strong>@Resources.FreeMem:</strong>
                        @Model.ControlModel.FreeMemDisplayString
                    </div>
                    <div class="progress">
                        <div class="value" style="width: @Model.ControlModel.FreeMemStyleWidth">
                        </div>
                    </div>
                </li>
                @{
                    int discCount = 0;
                    foreach (ulong item in Model.ControlModel.FreeDiscSpace)
                    {
                        if (Model.ControlModel.AvailableDiscSpace[discCount] > 0 && item > 0)
                        {
                            <li>
                                <div class="label">
                                    <strong>@Resources.FreeSpace (@Model.ControlModel.Discs.Info[discCount]):</strong>
                                    @ControlCenterModel.ConvertBytes(item)
                                </div>
                                <div class="progress">
                                    <div class="value" style="width: @Model.ControlModel.DiscSpaceStyleWidth(discCount)">
                                    </div>
                                </div>
                            </li>
                        }
                        discCount++;
                    }
                }
                <li>
                    <div class="label" style="width: 350px;">
                        <strong>@Resources.WritePermission:</strong>
                        @ControlCenterModel.GetDirectoryPermissions()
                    </div>
                </li>
                <li>
                    <div class="label" style="width: 350px;">
                        <strong>@Resources.ViewboxVersion:</strong>
                        @Model.ControlModel.ViewboxVersion
                    </div>
                </li>
                <li>
                    <div class="label" style="width: 350px;">
                        <strong>@Resources.ViewboxDbVersion:</strong>
                        @Model.ControlModel.DatabaseVersion
                    </div>
                </li>
                <li>
                    <div class="label" style="width: 350px;">
                        <strong>@Resources.ViewboxDbHost:</strong>
                        @ControlCenterModel.GetDatabaseAddress()
                    </div>
                </li>
                <li>
                    <div class="label" style="width: 350px;">
                        <strong>@Resources.MySqlVersion:</strong>
                        @ControlCenterModel.MySqlVersion
                    </div>
                </li>
                <li>
                    @{
                        string color = Model.ControlModel.MySqlConnectionState == "Online" ? "Green" : "Red";
                    }
                    <div class="label @Model.ControlModel.MySqlConnectionState" style="color: @color; width: 350px;">
                        <strong>@Resources.ConnectionState:</strong>
                        @Model.ControlModel.MySqlConnectionState
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            setInterval(reloadContent, 1500);
            $('#settings').css('padding', '0');
        });

        function reloadContent() {
            $.ajax({
                url: "/Settings/Information",
                success: function(result) {
                    $('#data').html($(result).find('.state-box'));
                }
            });
        }
    </script>
}