@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.LoginUser
<div id="rightsettings">
    <h3 class="users">@Resources.User</h3>
    <ul class="users">
        @foreach (IUser user in Model.Users.OrderBy((u) => { return u.Name; }))
        {
            if (user.IsOnline) 
            {
                String logRightClass = String.Empty; 
                <li class="user @logRightClass">
                 <span class="admin"></span><span class="name">
                  @( user.GetName() + (user.IsADUser ? " (AD)" : String.Empty))
                 </span>
                  <a class="right delete" href="@Url.Action("DeleteUser", "UserManagement", new {id = @user.Id})">@Resources.Remove</a>
                </li>
            }  
        }
    </ul>
</div>