@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ModifyStartScreenModel

    <div id="modifystartscreen">
    <div class="left delete-picture">
        <h3>@Resources.Pictures</h3>
        @using (Html.BeginForm("DeletePictures", "Settings", FormMethod.Post))
        {
            <select id="Pictures" name="Pictures" style="width: 100%;" size="20">
                @foreach (var item in Model.Pics)
                {
                    if (Model.Pics.Count > 1)
                    {
                        if (item.Selected)
                        {
                            <option value="@(item.Value)" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@(item.Value)">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option value="@(item.Value)" selected>@item.Text</option>
                    }
                }
            </select>
            <div>
                <div class="delete">
                    <input type="submit" value="@Resources.Delete" />
                </div>
            </div>
        }
        <div class="delete" style="width:5px;"></div>
        <div class="delete">
            <input id="setdefault" type="submit" value="@Resources.Default" />
        </div>
    </div>

    <div class="upload-picture">
        <h3>@Resources.UploadPicture</h3>
        <div class="right">@Resources.OnlyPngStartScreen</div>
        <br />
        @using (Html.BeginForm("UploadPicture", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-row">
                <input type="file" name="file" />
            </div>
            <div class="form-row">
                <input type="submit" value="@Resources.Upload" />
            </div>
            <div class="clear-right" />
        }
        <br />
        <div class="clear-left"></div>
        @if (Model.Dialog != null)
        {
            <div class="hide" id="msc-dlg">
                @Html.Partial("_DialogPartial", Model.Dialog)
            </div>
        }
    </div>
    <div id="deleteConfirmDialog" class="hide">
        @Html.Partial("_DialogPartial", Model.DeleteConfirmDialog)
    </div>
</div>

