@using Viewbox
@using Viewbox.Models
@using Viewbox.Properties
@model Viewbox.Models.SettingsModel

@section HeadSection {
    @*@Scripts.Render("~/bundles/roles-js")*@
    @Scripts.Render("~/Scripts/jquery.treeTable.js")
}

<div class="content-box">
    <div class="content-outer">
        <div class="content-inner">
            <div class="tabbar">
                @if (Model.Type == SettingsModel.SettingsType.User)
                {
                    <a class="tabheader selected">@Resources.PersonalSettings</a>
                }
                else
                {
                    <a href="@Url.Action("Personal")" class="tabheader filter">@Resources.PersonalSettings</a>
                }
                @if (Model.Type == SettingsModel.SettingsType.Properties)
                {
                    <a class="tabheader selected">@Resources.Display</a>
                }
                else
                {
                    <a href="@Url.Action("Index")" class="tabheader filter">@Resources.Display</a>
                }
                @if (Model.User.CanGrant)
                {
                    if (Model.Type == SettingsModel.SettingsType.Rights)
                    {
                        <a class="tabheader selected">@Resources.UserManagement</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Rights")" class="tabheader filter">@Resources.UserManagement</a>
                    }
                }
                @if (Model.User.IsSuper)
                {
                    if (Model.Type == SettingsModel.SettingsType.AdminTasks)
                    {
                        <a class="tabheader selected">@Resources.AdminTasks</a>
                    }
                    else
                    {
                        <a href="@Url.Action("AdminTasks")" class="tabheader filter">@Resources.AdminTasks</a>
                    }
                    if (Model.Type == SettingsModel.SettingsType.Information)
                    {
                        <a class="tabheader selected">@Resources.Information</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Information")" class="tabheader filter">@Resources.Information</a>
                    }
                }

                @if (ViewboxSession.User.IsLogRead)
                {
                    if (Model.Type == SettingsModel.SettingsType.LogRead)
                    {
                        <a class="tabheader selected">@Resources.ViewboxLog</a>
                    }
                    else
                    {
                        <a href="@Url.Action("LogRead")" class="tabheader filter">@Resources.ViewboxLog</a>
                    }
                }

                @if (ViewboxSession.User.IsSuper && ViewboxSession.User.UserName == "avendata_admin")
                {
                    if (Model.Type == SettingsModel.SettingsType.ModifyStartScreen)
                    {
                        <a class="tabheader selected">@Resources.ModifyStartScreenTab</a>
                    }
                    else
                    {
                        <a href="@Url.Action("ModifyStartScreen")" class="tabheader filter">@Resources.ModifyStartScreenTab</a>
                    }
                }
                @if (ViewboxSession.User.CanGrant && ViewboxSession.RightsMode && ViewboxSession.RightsModeCredential.Type == SystemDb.CredentialType.Role)
                {
                    if (Model.Type == SettingsModel.SettingsType.RoleSettings)
                    {
                        <a href="@Url.Action("RolesConfig")" class="tabheader selected">@Resources.RoleRight</a>
                        <a href="@Url.Action("RoleTree")" class="tabheader">@Resources.RoleTree</a>
                    }
                    else if (Model.Type == SettingsModel.SettingsType.RoleTree)
                    {
                        <a href="@Url.Action("RolesConfig")" class="tabheader">@Resources.RoleRight</a>
                        <a href="@Url.Action("RoleTree")" class="tabheader selected">@Resources.RoleTree</a>
                    }
                    else
                    {
                        <a href="@Url.Action("RolesConfig")" class="tabheader">@Resources.RoleRight</a>
                        <a href="@Url.Action("RoleTree")" class="tabheader">@Resources.RoleTree</a>
                    }
                }
                @if (ViewboxApplication.ShowDevelopmentProperties)
                {
                    <div style="middle-align: middle; text-align: right;">Building time is @ViewboxApplication.BuildingTime()</div>
                }
            </div>

            <div id="settings" class="scrollauto">
                @Html.Partial(Model.Partial)
            </div>
        </div>
    </div>
</div>