@model Viewbox.Helper.PassThroughView
@{
    var enlargeDatagrid = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "datagrid";
}

<!-- _AppPagePartial.cshtml -->
<div id="@ViewContext.RouteData.Values["controller"]" class="page-content @(enlargeDatagrid ? "enlarged" : "")">
    <div class="page-header">&nbsp;</div>

    @Html.Partial("_NavigationBarPartial", Model.Model)
    
    <!-- CONTENT: @ViewContext.RouteData.Values["controller"] ==================================================================================== -->
    @Html.Partial(Model.Partial, Model.Model)
    <!-- /CONTENT: @ViewContext.RouteData.Values["controller"] =================================================================================== -->
</div>