@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ITableObjectList
<!-- _CategoryTabsPartial.cshtml -->
<div class="tabbar overview-tabbar">
    @{
        foreach (var Category in Model.Categories)
        {
            RightType right = RightType.None;
            RightType typeRight = RightType.None;
            var rightsclass = String.Empty;
            String rightsTypeclass = String.Empty;
            if (Model.RightsMode)
            {
                //IsAllowed methods are only called once because they are more processor hungry
                right = Category.IsAllowedInRightsMode() ? RightType.None : RightType.Read;
                typeRight = Category.IsTableTypeAllowedInRightsMode(Model.Type) ? RightType.None : RightType.Read;
                //the eye that represents that a table can be added or is it already added to user or role
                rightsclass += (right == RightType.None) ? "readable" : "not-readable";
                rightsTypeclass += (typeRight == RightType.None) ? "readable" : "not-readable";
            }
            @*if (Model.RightsMode)
            {
                <div class="tabheader @rightsclass">
                    <a class="right-switch" href="@Url.Action("UpdateCategoryRight", "UserManagement", new
                                                                               {
                                                                                   id = Category.Id, type = Model.Type, right,
                                                                                   json = true, search = Model.SearchPhrase, page = Model.CurrentPage,
                                                                                   size = Model.PerPage, showEmpty = Model.ShowEmpty, sortColumn = Model.SortColumn,
                                                                                   direction = Model.Direction == null ? ViewboxDb.SortDirection.Ascending : Model.Direction, showHidden = Model.ShowHidden
                                                                               })"></a>
                    @Html.Partial("_TooltipPartial", ViewboxSession.GetRightInfo(Category.Id, UpdateRightType.Category, Category.IsAllowedInRightsMode()))
                </div>
            }*@
            <div class="tabheader @(!(Model.ShowEmpty || Model.ShowHidden || Model.ShowArchived || Model.ShowEmptyHidden) ? "selected" : "") @rightsTypeclass">
                @if (Model.ShowEmpty || Model.ShowHidden || Model.ShowArchived || Model.ShowEmptyHidden)
                {
                    <a class="headercontent" href="@Url.Action(null, new {id = Category.Id, sortColumn = Model.SortColumn, direction = Model.Direction, page = 0, size = Model.PerPage, json = true, search = Model.SearchPhrase})">@(String.Format(Resources.VisibleTables, (Model.Type == TableType.Table ? Resources.Tables : (Model.Type == TableType.View ? Resources.Views : Resources.Issues))) + " (" + Model.TableCount.VisibleTableCount + ")")</a>
                }
                else
                {
                    <div class="headercontent"> @(String.Format(Resources.VisibleTables, (Model.Type == TableType.Table ? Resources.Tables : (Model.Type == TableType.View ? Resources.Views : Resources.Issues))) + " (" + Model.TableCount.VisibleTableCount + ")")</div>
                }
            </div>
        }
    //}
    }
    @if (Model.Type != TableType.Issue)
    {
        <div class="tabheader show_empty @(Model.ShowEmpty ? "selected" : "")">@String.Format(Resources.EmptyTables, Model.Type == TableType.Table ? Resources.Tables : Resources.Views) (@Model.TableCount.EmptyTableCount)</div>
    }
    @if (ViewboxSession.User.IsSuper && ViewboxSession.User.UserName == "avendata_admin")
    {
        <div class="tabheader show_hidden @(Model.ShowHidden ? "selected" : "")">@String.Format(Resources.HiddenTableObjects, Model.Type == TableType.Table ? Resources.Tables : Model.Type == TableType.View ? Resources.Views : Resources.Issues) (@Model.TableCount.InVisibleTableCount)</div>
    }
    @if (ViewboxSession.User.IsSuper && ViewboxSession.User.UserName == "avendata_admin")
    {
        <div class="tabheader show_empty_hidden @(Model.ShowEmptyHidden ? "selected" : "")">@String.Format(Resources.EmptyHiddenTableObjects, Model.Type == TableType.Table ? Resources.Tables : (Model.Type == TableType.View ? Resources.Views : Resources.Issues)) (@Model.TableCount.EmptyInVisibleTableCount)</div>
    }
    @if (Model.Type != TableType.Issue && (ViewboxSession.User.UserName == "avendata_qs" || ViewboxSession.User.UserName == "avendata_admin"))
    {
        <div class="tabheader show_archived @(Model.ShowArchived ? "selected" : "")">@String.Format(Resources.ArchivedTableObjects, Model.Type == TableType.Table ? Resources.Tables : Model.Type == TableType.View ? Resources.Views : Resources.Issues) (@Model.TableCount.ArchivedTableCount)</div>
    }
</div>