@using Viewbox
@using Viewbox.Properties
@model SystemDb.ITableObject
<!-- _ColumnListPartial.cshtml -->
<div class="dropdown columns columns2">
    <div class="scroll scroll2">
        @foreach (var Column in Model.Columns)
        {
            <div class="column @(Column.IsVisible ? "visible" : "hidden")">
                <div class="item-id">@Column.Id</div>
                <div class="colnumber">@(Column.Ordinal + 1)</div>
                <div class="sortdirection"><a href="#"></a></div>
                <div class="colname">@Column.GetDescription()</div>
                <input type="hidden" class="columntype" value="@Column.DataType"></input>
                <input type="hidden" class="columnlength" value="@Column.MaxLength"></input>
                <div class="visibility">
                    <a href="@Url.Action("UpdateColumn", new {id = Column.Id, visible = !Column.IsVisible})"></a>
                </div>
            </div>
        }
    </div>
</div>