@using Viewbox.Properties
@model Viewbox.Models.ColumnValueListModels
@{
    bool ascending = ((int)Model.Direction == 0);
    bool descending = ((int)Model.Direction == 1);
}
<div class="header">
    <div class="sort-column" style="display: inline-block">@Resources.ObjectType</div>
    <div class="distinct-sorting" style="display: inline-block" data-columnid="4">
        <a class="ascending@(ascending ? " active" : "")" nav="ascending" /><a class="descending@(descending ? " active" : "")" nav="descending" />
    </div>
</div>

<div id="@ViewBag.ListType" class="scrollauto column-filter-menu click">
    @if (Model.ValueListCollection != null && Model.ValueListCollection.Count > 0)
    {
        foreach (var v in Model.ValueListCollection)
        {
            <div class="entry gray-on-mouseover distinct" style="width: auto;">
                <div class="entry-container">
                    <div class="value" data-id="@v.Id">@v.Value.ToString()</div>
                </div>
            </div>
        }
    }
    else
    {
        <div>@Resources.NoDataFound</div>
    }
</div>

<script type="text/javascript">
    $("#distinct-popup2.dropdown-main #distinct-popup-title > h3").text("@Model.PopupTitle");
</script>