@using Viewbox
@using SystemDb
@using Viewbox.Models
@using ViewboxDb
@using Viewbox.Properties
@using ViewboxDb.Filters
@using SortDirection = ViewboxDb.SortDirection
@{
    var DataGridModel = Model as DataGridModel;
    var TableInfo = DataGridModel != null ? DataGridModel.TableObject : Model as TableObject;
    var TableObject = DataGridModel != null ? DataGridModel.TableInfo : (TableInfo == null) ? Model as ITableObject : TableInfo.Table;
    FilterModel filterModel = new FilterModel(TableInfo != null && TableInfo.Filter != null ? TableInfo.Filter : new AndFilter(), null);
}
<!-- _FilterPartial.cshtml -->
@if (TableObject != null)
{
<ul class="dropdown big view" id="extfilteroptions">
	<li class="panel">
        @Html.Partial("_TooltipPartial", Resources.Filter)
        <a class="icon process right dropdown-btn @(TableInfo != null && TableInfo.Filter != null && TableInfo.Filter.ToOriginalString() != "AND()" && TableInfo.Filter.ToOriginalString() != "OR()" ? "active" : "") @(DataGridModel == null ? "" : (DataGridModel.GroupColumn != null && DataGridModel.SubtotalColumns != null ? "disabled" : ""))"></a>
		<ul class="dropdown-menu">
            <li class="column-view-props visible">
                <div class="box">
                    <div class="top">
                        <h4>@Resources.Filter</h4>
                        <div class="close-popup" style="top: 32px;right: 20px;"></div>
                    </div>
                    <div class="middle filter" id="extfilter">
                        <div class="operators">
                            @foreach (var op in new List<Operator> {
                                                             Operator.And,
                                                             Operator.Or,
                                                             Operator.Less,
                                                             Operator.LessOrEqual,
                                                             Operator.Greater,
                                                             Operator.GreaterOrEqual,
                                                             Operator.Between,
                                                             Operator.Equals,
                                                             Operator.NotEquals,
                                                             Operator.In,
                                                             Operator.Like,
                                                             Operator.StartsWith})
                            {
                                <text>
                                    @Html.Partial("_OperatorsPartial", op)
                                </text>
                                
                            }
                            <div class="dbnull">
                                <div>∅</div>@Html.Partial("_TooltipPartial", "DBNULL")
                            </div>
                        </div>        
                        <div style="position:absolute; top:32px; bottom:5px;width: 413px;">
                        <div class="filter-tree" style="height: 88%">
                            <div id="column-dropdown-info" class="dropdown columns">
                                @foreach (var column in TableObject.Columns)
                                {
                                    <div class="column dropdown_sqlfunction_column_row">
                                        <div class="item-id">@column.Id</div>
                                        <div class="colnumber">@(column.Ordinal + 1)</div>
                                        <div class="colname">@column.GetDescription()</div>
                                        <input type="hidden" class="columntype" value="@column.DataType"></input>
                                        <input type="hidden" class="columnlength" value="@column.MaxLength"></input>
                                        <input type="hidden" class="columnvisible" value="@column.IsVisible.ToString().ToLower()"></input>
                                    </div>
                                }
                            </div>
                            <div id="column-dropdown" class="dropdown columns">
                            </div>
                            <div id="column-dropdown1" class="dropdown columns columns1">
                            </div>
                            <div class="droparea">
                            <div class="filter-subtree">
                                <ul style="position: relative; right:0;">
                                    <li>
                                        @Html.Partial("_FilterSubTreePartial", filterModel)
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                            <div class="buttons" style="height: 13%">
                            @using (Html.BeginForm("SortAndFilter", "DataGrid", new { id = TableObject.Id }))
                            {
                                if ((ViewboxSession.User.IsSuper || ViewboxSession.User.CanGrant) /*&& !TableObject.UserDefined*/) {
                                    bool isStoredProcedure = TableObject.Type == TableType.Issue && ((IIssue)TableObject).IssueType == IssueType.StoredProcedure;
                                    var disabled = (isStoredProcedure) ? " disabled=\"disabled\"" : "";
                                    <div style="width: 230px;text-align: left;line-height: 20px;">
                                        <input type="checkbox" name="check_save" id="check_save" style="float: left;height: 20px;"@disabled />@Resources.SaveFilterText
                                        @if (isStoredProcedure)
                                        {
                                            <img class="filterInfoImg jqueryUITooltip" src="/Content/img/icons/Info2.png" title="@Resources.FilterStoredProcedureInfo" alt="information" />
                                        }
                                    </div>
                                }
                                <input type="hidden" name="save" id="save" />
                                <input type="hidden" name="filter" id="filter" />
                                if (TableInfo != null)
                                {
                                    if (TableInfo.Sort != null)
                                    {
                                        for (int i = 0; i < TableInfo.Sort.Count; ++i)
                                        {
                                            <input type="hidden" name="sortList[@i].cid" value="@TableInfo.Sort[i].cid" />
                                            <input type="hidden" name="sortList[@i].dir" value="@(TableInfo.Sort[i].dir == SortDirection.Ascending ? 0 : 1)" />
                                        }
                                    }
                                    if (TableInfo.Sum != null)
                                    {
                                        for (int i = 0; i < TableInfo.Sum.Count; ++i)
                                        {
                                            <input type="hidden" name="summaList[@i]" value="@TableInfo.Sum[i].Id" />
                                        }
                                    }
                                }
                                <input type="submit" class="submit button" value="@Resources.Submit" />
                                <input type="button" class="button" value="@Resources.Reset" id="resetfilter" style="margin-right: 10px" />
                                <div class="tableObjectId hide">@TableObject.Id</div>
                                <div class="inputcontainer hide"></div>
                            }
                            </div>
						</div>
                                        
                    </div>
                    <div class="bottom"></div>
                </div>
            </li>
		</ul>
	</li>
</ul>
}