@model Viewbox.Models.NotificationModel
           
<!-- _NotificationsPartial.cshtml -->
@foreach (var n in Model) {
    <div class="notification">
        <span class="hide key">@n.Key</span>
        <a class="close" href="#">x</a>
        <a class="link" href="@n.Link">
            <span class="@n.Type logo"></span>
            <h3>@n.Title</h3>
            @if(n.IsEmpty){
                <span class="no-result">@Viewbox.Properties.Resources.NoResult:</span><br />
            }
            <span class="text">@n.Description</span>
        </a>
    </div>
}
