@using SystemDb
@using Viewbox.Properties
@using Viewbox
@using Viewbox.Models

@{
    var DataGridModel = Model as DataGridModel;
    var TableInfo = DataGridModel != null ? DataGridModel.TableObject : Model as ViewboxDb.TableObject;
    var TableObject = DataGridModel != null ? DataGridModel.TableInfo : (TableInfo == null) ? Model as ITableObject : TableInfo.Table;
    var show_placeholder = true;
    var placeholder = String.Empty;
    var issue = TableObject as IIssue;
    int[] ColumnId = null;
}
<!-- _SubtotalPartial.cshtml -->
@if (TableObject != null)
{
    <ul class="dropdown big view" id="subtotaloptions">
        <li class="panel">
            @Html.Partial("_TooltipPartial", Resources.Subtotal)
            <a id="subtotalicon" class="icon process right dropdown-btn @(DataGridModel.SubtotalColumns != null ? "active" : "") @(TableInfo != null && TableInfo.Sum != null && TableInfo.Sum.Count > 0 ? "disabled" : "")"></a>
            <ul class="dropdown-menu">
                <li class="column-view-props visible">
                    <div class="box">
                        <div class="top">
                            <h4>@Resources.Subtotal</h4>
                            <div class="close-popup" style="right: 20px; top: 32px;"></div>
                            @if (issue == null || issue.Flag == 0)
                            {
                                <div class="tabbar">
                                    <div class="search-viewoptions-panel">
                                        <div class="bg-left"></div>
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new Dictionary<string, object> { { "id", "searchoverview-extsubtotaloptions" } }))
                                        {
                                            <input class="field bg-middle placeholder" autocomplete="off" name="search_viewoptions" type="text"
                                                   value="@(DataGridModel != null && !String.IsNullOrWhiteSpace(DataGridModel.Search) ? DataGridModel.Search : Resources.SearchPhrase)"
                                                   placeholder="@Resources.SearchPhrase" />
                                            <input type="hidden" class="table-object-id" value="@TableObject.Id" />
                                            <input type="submit" class="submit" value="" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="middle subtotal" id="extsubtotal">

                            @if (issue == null || issue.Flag == 0)
                            {
                                <div class="subtotaling-columns">
                                    <h5 class="subtotal group-target-header">@Resources.Group</h5>
                                    <div class="subtotal-target">
                                        <table id="selected-group-column">
                                            @if (DataGridModel.GroupColumn != null)
                                            {
                                                foreach (var item in DataGridModel.GroupColumn)
                                                {
                                                    <tr>
                                                        <td class="item-id">@item.Id</td>
                                                        <td class="colnumber">@(item.Ordinal + 1)</td>
                                                        <td class="colname" style="width:100px">
                                                            <div class="description" style="width:100px">@item.GetDescription()</div>
                                                        </td>
                                                        <td class="sub-btns">
                                                            <button class="ui-button groupcolumn hidden">@Resources.Group</button>
                                                            <button class="ui-button subtotalcolumn hidden  @(item.DataType == SqlType.Decimal || item.DataType == SqlType.Integer || item.DataType == SqlType.Numeric ? "" : "disabled")">@Resources.Subtotal</button>
                                                            <button class="ui-button del">X</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                    <h5 class="subtotal">@Resources.Subtotal</h5>
                                    <div class="subtotal-target">
                                        <table id="selected-subtotal-column">
                                            @if (DataGridModel.SubtotalColumns != null)
                                            {
                                                foreach (var column in DataGridModel.SubtotalColumns)
                                                {
                                                    <tr>
                                                        <td class="item-id">@column.Id</td>
                                                        <td class="colnumber">@(column.Ordinal + 1)</td>
                                                        <td class="colname" style="width:100px">
                                                            <div class="description" style="width:100px">@column.GetDescription()</div>
                                                        </td>
                                                        <td class="sub-btns">
                                                            <button class="ui-button groupcolumn hidden">@Resources.Group</button>
                                                            <button class="ui-button subtotalcolumn hidden">@Resources.Subtotal</button>
                                                            <button class="ui-button del">X</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="subtotalable-columns">
                                    <table class="bot-sort">
                                        <tbody>
                                            @foreach (var Column in TableObject.Columns)
                                            {
                                                if (DataGridModel.AlreadyAddedColumns != null && DataGridModel.AlreadyAddedColumns.Contains(Column.Id.ToString()) ||
                                                    (DataGridModel != null && !Column.GetDescription(ViewboxSession.Language).ToLower().Contains((DataGridModel.Search ?? "").ToLower())))
                                                {
                                                    continue;
                                                }

                                                if (DataGridModel.GroupColumn != null && DataGridModel.SubtotalColumns != null && (DataGridModel.GroupColumn.FirstOrDefault(x => x.Name == Column.Name) != null || DataGridModel.SubtotalColumns.Any(x => x.Name == Column.Name)))
                                                {
                                                    continue;
                                                }
                                                <tr style="display: @( ((TableInfo == null || TableInfo.Sum == null) && !Column.IsVisible) ? "none" : "display")">
                                                    <td class="item-id">@Column.Id</td>
                                                    <td class="colnumber">@(Column.Ordinal + 1)</td>
                                                    <td class="colname" style="width:150px"><div class="description" style="width:150px">@Column.GetDescription()</div></td>
                                                    <td class="sub-btns">
                                                        <button class="ui-button groupcolumn">@Resources.Group</button>
                                                        <button class="ui-button subtotalcolumn @(Column.DataType == SqlType.Decimal || Column.DataType == SqlType.Integer || Column.DataType == SqlType.Numeric ? "" : "disabled")">@Resources.Subtotal</button>
                                                        <button class="ui-button del hidden">X</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="buttons">
                                    @using (Html.BeginForm("SetSubToTalProperties", "DataGrid", new { id = TableObject.Id }))
                                    {
                                        <input type="submit" class="submit button" value="@Resources.Submit" />
                                        <input type="button" class="button" value="@Resources.Reset" id="resetsubtotal" style="margin-right: 10px" />
                                        <div style="float:left;padding-top:10px;">
                                            @if (DataGridModel.SubtotalOnlyExpectedResult)
                                            {
                                                <input type="checkbox" id="onlyExpectedResult" checked>@Resources.SubtotalOnlyExpectedResult
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="onlyExpectedResult">@Resources.SubtotalOnlyExpectedResult
                                            }
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <a class="no-action">@String.Format(Resources.NoAction, Resources.Sort)</a>
                            }
                        </div>
                        <div class="bottom"></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
}