@using SystemDb
@using SystemDb.Internal
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ITableObjectList
<!-- _TableObjectsPartial.cshtml -->

<div class="content-box"
     data-tabletype="@Model.Type.ToString()"
     data-maincontentaction="Index"
     data-columnfiltercontentaction="ColumnValueList">

    <div class="content-outer">
        <div class="content-inner">
            <div class="header">
                <h3>@Resources.Overview</h3>
                <div class="functions">
                    @Html.Partial("_SearchPartial")
                </div>

                <div id="mainnavigation" class="nav-controls">
                    @if (Model.Count > Model.PerPage)
                    {
                        var controller = "IssueList";
                        if (Model.Type == TableType.Table)
                        {
                            controller = "TableList";
                        }
                        if (Model.Type == TableType.View)
                        {
                            controller = "ViewList";
                        }
                        var url = "/" + controller + "/Index/";
                        @Html.Hidden("listUrl", url)
                        if (Model.CurrentPage > 0)
                        {
                            <a href="@(url + "?page=0")" class="iconx first"></a>
                            <a href="@(url + "?page=" + (Model.CurrentPage - 1))" class="iconx back"></a>
                        }
                        else
                        {
                            <span class="iconx first"></span>
                            <span class="iconx back"></span>
                        }
                        if (Model.Count > 0)
                        {
                            <span>@((Model.From + 1).ToString("#,0")) -</span>
                            <span class="current">@((Model.To + 1).ToString("#,0"))</span>
                            <span>/</span>
                            <span class="count">@Model.Count.ToString("#,0")</span>
                            <span>@Model.LabelNumberOfRows</span>
                            if (Model.Count > 25)
                            {
                                <span> | </span>
                                <span>@Resources.Page :</span>
                                //using (Html.BeginForm(null, null, FormMethod.Get, new Dictionary<string, object> { { "id", "page_count" }, { "style", "display:inline" } }))
                                //{
                                    <input class="pagecount" name="page" type="text" id="pageCount" value="@(Model.CurrentPage + 1)" />
                                    @Html.Hidden("maxPagesCount", Model.LastPage)
                                    <span>/</span>
                                    <span id="pagecount">@((Model.LastPage + 1).ToString("#,0"))</span>
                                    <input type="hidden" />
                                //}
                            }
                        }
                        else
                        {
                            <span>@Model.LabelNoData</span>
                        }
                        if (Model.CurrentPage < Model.LastPage)
                        {
                            <a href="@(url + "?page=" + (Model.CurrentPage + 1))" class="iconx next"></a>
                            <a href="@(url + "?page=" + Model.LastPage)" class="iconx last"></a>
                        }
                        else
                        {
                            <span class="iconx next"></span>
                            <span class="iconx last"></span>
                        }
                        <div class="hide page">@Model.CurrentPage</div>
                        <div class="hide size">@Model.PerPage</div>
                    }
                    <div class="hide sortColumn">@Model.SortColumn</div>
                    <div class="hide direction">@Model.Direction</div>
                </div>
            </div>
            @Html.Partial("_CategoryTabsPartial", Model)
            <div class="tab-content">
                <table class="overview-header">
                    <thead>
                        <tr>
                            <th class="tono">
                                <div class="sort-column">@Resources.TransactionId</div>
                                <div class="sorting">
                                    <a href="@Url.Action("Sort", new { sortColumn = 1, direction = ViewboxDb.SortDirection.Ascending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="ascending @(Model.SortColumn == 1 && Model.Direction == ViewboxDb.SortDirection.Ascending ? "active" : "")"></a>
                                    <a href="@Url.Action("Sort", new { sortColumn = 1, direction = ViewboxDb.SortDirection.Descending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="descending @(Model.SortColumn == 1 && Model.Direction == ViewboxDb.SortDirection.Descending ? "active" : "")"></a>
                                </div>
                            </th>
                            <th class="toname" colspan="@(Model.RightsMode ? "2" : "1")">
                                <div class="sort-column" style="padding-left: 10px;">@Resources.Description</div>
                                <div class="sorting">
                                    <a href="@Url.Action("Sort", new { sortColumn = 2, direction = ViewboxDb.SortDirection.Ascending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="ascending @(Model.SortColumn == 2 && Model.Direction == ViewboxDb.SortDirection.Ascending ? "active" : "")"></a>
                                    <a href="@Url.Action("Sort", new { sortColumn = 2, direction = ViewboxDb.SortDirection.Descending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="descending @(Model.SortColumn == 2 && Model.Direction == ViewboxDb.SortDirection.Descending ? "active" : "")"></a>
                                </div>
                            </th>

                            @if (Model.Type == TableType.Issue)
                            {
                                <th class="tofilter text-right" colspan="2">@Resources.Filter</th>
                                <th class="toaction text-right">&nbsp;</th>
                            }
                            else
                            {
                                <th class="torowcount">
                                    <div class="sort-column">@Resources.RowCount</div>
                                    <div class="sorting">
                                        <a href="@Url.Action("Sort", new { sortColumn = 3, direction = ViewboxDb.SortDirection.Ascending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="ascending @(Model.SortColumn == 3 && Model.Direction == ViewboxDb.SortDirection.Ascending ? "active" : "")"></a>
                                        <a href="@Url.Action("Sort", new { sortColumn = 3, direction = ViewboxDb.SortDirection.Descending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="descending @(Model.SortColumn == 3 && Model.Direction == ViewboxDb.SortDirection.Descending ? "active" : "")"></a>
                                    </div>
                                </th>
                            }

                            @if (Model.Type == TableType.View)
                            {
                                <th class="toobjecttype text-right">
                                    <div class="sorting float-right">
                                        <a href="@Url.Action("Sort", new { sortColumn = 4, direction = ViewboxDb.SortDirection.Ascending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="ascending @(Model.SortColumn == 4 && Model.Direction == ViewboxDb.SortDirection.Ascending ? "active" : "")"></a>
                                        <a href="@Url.Action("Sort", new { sortColumn = 4, direction = ViewboxDb.SortDirection.Descending, page = Model.CurrentPage, size = Model.PerPage, json = true })" class="descending @(Model.SortColumn == 4 && Model.Direction == ViewboxDb.SortDirection.Descending ? "active" : "")"></a>
                                    </div>
                                    <div class="sort-column float-right"><div class="column-filter @(!String.IsNullOrEmpty(ViewboxSession.User.Settings[UserSettingsType.View_ObjectType]) || !String.IsNullOrEmpty(ViewboxSession.User.Settings[UserSettingsType.Extended_ObjectType]) ? "selected" : "")"></div> @Resources.Module</div>
                                </th>
                                <th class="toparams4 text-right">&nbsp;</th>
                            }
                            @if (Model.Type == TableType.Table)
                            {
                                <th colspan="2" class="toparams2 text-right"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <div class="tab-content-inner scroll">
                                    <table class="overview">
                                        <tbody>
                                            @Html.Partial("_TableObjectsOverviewListPartial", Model)
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="loading" style="text-align: center; margin-top: 250px; position: relative; display: none;">
                <img src="../../Content/img/gif-load.gif" />
            </div>
        </div>
    </div>
</div>
<!-- _TableObjectsPartial.cshtml -->
<div class="hide" id="wait-dlg">
    @Html.Partial("_DialogPartial", Model.GetWaitDialog(Resources.ChangeOrder))
</div>