@using SystemDb
@using Viewbox.Properties
@using Viewbox
@model Viewbox.Models.ITableObjectList
@foreach (var TableObject in Model.TableObjects)
{
    var classname = String.Empty;
    if (TableObject == Model.SelectedTableObject)
    {
        classname = "aktiv";
    }
    if (Model.RightsMode)
    {
        classname += TableObject.IsAllowedInRightsMode() ? " readable" : " not-readable";
    }
    <tr class="@classname">
        <td class="todescription">
            <div>
                <a>@TableObject.GetDescription().ToUpper()</a>
            </div>
        </td>
        <td class="tono">@TableObject.TransactionNumber</td>
        <td class="toname">@TableObject.GetName().ToUpper()</td>
        @if (Model.Type != TableType.Issue)
        {
            <td class="torowcount">@String.Format("{0:#,0}", TableObject.GetRowCount())</td>
        } 
        @if (Model.Count > 0)
        {
            <td class="toaktion">
                <div class="action">
                    @if (TableObject.UserDefined)
                    {
                        <div class="delete">x</div>
                    }
                    <div class="hide-table"></div>
                </div>
                <div><input type="checkbox"/></div>
                @if (Model.Type == TableType.Issue)
                {
                    using (Html.BeginForm((TableObject as IIssue).IssueType != IssueType.Fake ? "ExecuteIssue" : "Index", "DataGrid", new {id = TableObject.Id}))
                    {
                        <input type="submit" class="submit hide" value="OK" />
                    }
                }
                else
                {
                    using (Html.BeginForm("Index", "DataGrid", new {id = TableObject.Id}))
                    {
                        <input type="submit" class="submit hide" value="OK" />
                    }
                }
            </td>

            if (Model.Type != TableType.Table)
            {
                <td class="toarrow">                
                    <div class="@classname"></div>
                </td>
            }
        }
          
    </tr>
}
@if (Model.Count == 0)
{
    var text = String.Empty;
    if (Model.Type == TableType.View)
    {
        text = Resources.Views;
    }
    if (Model.Type == TableType.Table)
    {
        text = Resources.Tables;
    }
    if (Model.Type == TableType.Issue)
    {
        text = Resources.Issues;
    }
    <tr class="no-tables"><td colspan="4" class="no-tables">@String.Format(Resources.NoTables, text)</td></tr>
}