@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.DocumentsModel

@{
    var hasUrl = Model.Table.Columns.Contains("url");
}

<div id="loading" style="z-index: 50; text-align: center; margin-top: 350px; position: relative;">
    <img src="../../Content/img/gif-load.gif" />
</div>
<div id="Documents">
    <div class="content-box">
        <div class="content-outer">
            <div class="master-header">
                <div class="header @(Model.ColumnFilterEnabled ? "no-border" : "")">
                    <h3>@Resources.Documents</h3>
                </div>

                @Html.Partial("_ImmediateFilterPartial", Model)
            </div>
            <div class="document-content-outer" id="set-top" style="z-index:-50;">
                <div class="document-content-inner">
                    <div class="content-inner @(ViewboxApplication.UseDocumentsPreview ? "left" : "") beleg @(Model.IsZipArchive ? "full-width" : "")">
                        <div class="header">
                            <input type="hidden" id="thisUrl" name="thisUrl" value="@this.GetUrl(new UrlParam("start", 0))" />
                            <div class="nav-controls" style="padding-top:1px; width:100%">
                                <table style="width:inherit">
                                    <tr style="vertical-align:middle">
                                        <td style="text-align:center; margin-left:50px">
                                            @Html.Partial("_NavigationControlsPartial", Model)
                                        </td>
                                        @if (!hasUrl)
                                        {
                                            <td style="width:1%">
                                                <form id="downloadMoreFiles" action="@Url.Action("DownloadMoreFileByPath", new { start = Model.FromRow })" method="post">
                                                    <input type="hidden" name="tobjId" id="tobjId" />
                                                    <input type="hidden" name="ids" id="ids" />
                                                    <img src="../../Content/img/download_icon.png" style="vertical-align:top;padding-top:3px" class="download_belegs" />
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tab-content without-tab" style="background-color:#EEEEEE;">
                            @Html.Partial("_DocumentsListPartial", Model)
                        </div>
                    </div>
                    @if (!Model.IsZipArchive && ViewboxApplication.UseDocumentsPreview)
                    {
                        <div class="mitte slim">
                        </div>

                        <div class="content-inner right">
                            <div class="header">
                                <h3>@Resources.DocumentPreview</h3>
                            </div>
                            <div class="tab-content without-tab grey" id="previewImageBlock">
                                <img id="document-detail">
                            </div>
                        </div>
                    }
                    else if (!ViewboxApplication.UseDocumentsPreview)
                    {
                        <div class="hide" id="document-detail">
                        </div>
                    }
                    @if (Model != null && Model.Table != null && Model.Table.OptimizationHidden == 1)
                    {
                        // JUSST FOR EON :DDD
                        <script>
                            $(document).ready(function () {
                                $(".SplitTable").parent().hide();
                                $(".SortColumn").parent().hide();
                            });
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>