@model IEnumerable<Viewbox.LotusNotes.LotusNode>

<table class="lotus-header">
    <tr>
        <th class="header-sorterfeld">
            @Html.DisplayNameFor(model => model.SorterFeld)
        </th>
        <th class="header-bu">
            @Html.DisplayNameFor(model => model.BU)
        </th>
        <th class="header-dokart">
            @Html.DisplayNameFor(model => model.Dokart)
        </th>
        <th class="header-kategorie">
            @Html.DisplayNameFor(model => model.Kategorie)
        </th>
        <th class="header-dokdatum">
            @Html.DisplayNameFor(model => model.DokDatum)
        </th>
        <th class="header-kwtermin">
            @Html.DisplayNameFor(model => model.KwTermin)
        </th>
        <th class="header-auftragsnrsap">
            @Html.DisplayNameFor(model => model.AuftragsNrSap)
        </th>
        <th class="header-produkt">
            @Html.DisplayNameFor(model => model.Produkt)
        </th>
        <th class="header-betreff">
            @Html.DisplayNameFor(model => model.Betreff)
        </th>
        <th class="header-details">Details</th>
    </tr>
</table>
<ul id="lotus-tree">
    @foreach (var rootNode in Model)
    {
        <li class="node level-1">
            <div class="sorterfeld open">@Html.DisplayFor(modelItem => rootNode.SorterFeld)</div>
            <ul class="children level-1">
                @foreach (var sorterfeldNode in rootNode.Children)
                {
                    <li class="node level-2">
                        <div class="bu open">@Html.DisplayFor(modelItem => sorterfeldNode.BU)</div>
                        <ul class="children level-2">
                            @foreach (var buNode in sorterfeldNode.Children)
                            {
                                <li class="node level-3">
                                    <div class="dokart open">@Html.DisplayFor(modelItem => buNode.Dokart)</div>
                                    <ul class="children level-4">
                                        @foreach (var dokartNode in buNode.Children)
                                        {
                                            <li class="node level-4">
                                                <div class="kategorie open">@Html.DisplayFor(modelItem => dokartNode.Kategorie)</div>
                                                <ul class="children level-4">
                                                    @foreach (var leaf in dokartNode.Children)
                                                    {
                                                        <li class="node level-5">
                                                            <div style="float: left;" class="dokdatum">@Html.DisplayFor(modelItem => leaf.DokDatum)</div>
                                                            <div style="float: left;" class="kwtermin">@Html.DisplayFor(modelItem => leaf.KwTermin)</div>
                                                            <div style="float: left;" class="auftragsnrsap">@Html.DisplayFor(modelItem => leaf.AuftragsNrSap)</div>
                                                            <div style="float: left;" class="produkt">@Html.DisplayFor(modelItem => leaf.Produkt)</div>
                                                            <div style="float: left;" class="betreff">@Html.DisplayFor(modelItem => leaf.Betreff)</div>
                                                            <input type="hidden" id="notesUnid" value="@Html.DisplayFor(modelItem => leaf.UNID)" />
                                                            <a class="details"><div>Details</div></a>
                                                            <input type="hidden" value="@Html.DisplayFor(modelItem => leaf.UNID)" id="notesUnid" />
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>