@using Viewbox.Properties
@model Viewbox.Models.TableCrudModel
@using (Ajax.BeginForm("_AddCrud", "IssueList", new AjaxOptions { UpdateTargetId = "crud-data", InsertionMode = InsertionMode.Replace, OnComplete = "initCrud(xhr,status)", LoadingElementId = "crud-data-loading" }, new { @id = "AddCrudForm" }))
{
    <div id="crud-data" class="crud-data">
        @Html.Partial("_TableCrud", Model)
    </div>

    <div class="crud-data-actions">
        <input class="button left" value="@Resources.Submit" type="submit" name="Model.SubmitButton" />
        <input id="crud-refresh" class="hide" value="Refresh" type="submit" name="Model.SubmitButton" />
        <div class="cancel-crud button left">@Resources.Cancel</div>
        <div class="clear">
        </div>
    </div>
}
@*@Scripts.Render("~/bundles/tablecruds-js")*@
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")