@using System.Globalization
@using SystemDb
@using Viewbox
@using Viewbox.Properties
@using Viewbox.Models
@model Viewbox.Models.IColumnFilterModel
<div class="immediate-filter" >
    <div class="@(Model.ColumnFilterEnabled ? "" : "hide")">
        <div class="immediate-filter-content @(Model.ParameterValues.Any(w => !String.IsNullOrEmpty(w)) ? "hide" : "hide")">
            @using (Html.BeginForm("SortAndFilter", (@Model is ArchiveDocumentsModel ? "ArchiveDocuments" : "Documents"), FormMethod.Get, new {autocomplete = "off", id = "execute_report"}))
            {
                if (Model.FilterColumns != null && Model.FilterColumns.Count() > 0)
                {
                    <div class="immediate-filter-fields overview">
                        <div class="immediate-filter-fields-table" id=@Model.FilterColumns.First().Table.Id>
                            @for (int i = 0; i < Model.FilterColumns.Length; i++)
                            {
                                if (Model.ParameterValues[i]!=null && (Model.FilterColumns[i].DataType == SqlType.Date || Model.FilterColumns[i].DataType == SqlType.DateTime))
                                {
                                    DateTime dateValue;
                                    if ((!string.IsNullOrEmpty(Model.ParameterValues[i]) && !Model.ParameterValues[i].Contains(".")) && DateTime.TryParseExact(Model.ParameterValues[i], "yyyyMMddHHmmss", new CultureInfo(ViewboxSession.Language.CountryCode), DateTimeStyles.None, out dateValue))
                                    {
                                        Model.ParameterValues[i] = dateValue.ToString("dd-MM-yyyy");
                                    }
                                    if (ViewboxSession.Language.CountryCode.Contains("de"))
                                    {
                                        Model.ParameterValues[i] = Model.ParameterValues[i].Replace("-", ".").Replace("/",".");
                                    }
                                    else if (ViewboxSession.Language.CountryCode.Contains("en"))
                                    {
                                        Model.ParameterValues[i] = Model.ParameterValues[i].Replace("-", "/").Replace(".","/");
                                    }
                                }
                                <div class="td left ">
                                    <div class="immediate-filter-input" id=@Model.FilterColumns[i].Id>
                                        <input name="parameterValues[@(i)]" type="text" class="searchDropDownfuncion text field value @(Model.FilterColumns[i].DataType == SqlType.Date ? "reportdate" : "") placeholder"
                                               placeholder="@Model.FilterColumnDescriptions[i]" title="@Model.FilterColumnDescriptions[i]" value="@Model.ParameterValues[i]" />
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>
                            }
                            <input type="text" class="text field value placeholder" placeholder="LastElement" title="LastElement" value="LastElement" style="position: absolute; left:-5000000px;" />
                        </div>
                        <div class="clear">
                        </div>
                        <div class="report-button-container">
                            <div class="execute-report showviewoptions" id="open-report">@Resources.ColumnFilterOpen</div>
                            <div class="execute-report" id="clear-belegarchive">@Resources.ColumnFilterClear</div>
                            <div class="exactmatch">
                                <input type="hidden" name="ExactMatch" class="checkboxhidden" value="@(Model.ExactMatch ? "true" : "false")" />
                                <a class="@(Model.ExactMatch ? "checkboxon" : "checkboxoff")"></a><span>@Resources.ExactMatch</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="immediate-filter-controller-outer">
        <div class="immediate-filter-controller @(Model.ColumnFilterEnabled && Model.FilterColumns != null ? "" : "hide")">
        </div>
    </div>
</div>