@using Viewbox
@using Viewbox.Properties
<!-- _NotepadPartial.cshtml -->
<div id="notepad" class="hide notepad-container">
    <div class="inner">
        <div class="head">@Resources.Notepad</div>
        <div class="close-popup" style="right: 10px; top: 7px;"></div>
        <div class="content">
            <div class="left-side left">
                <div class="head-inner">
                    <div class="add"></div>
                </div>
                <div class="content-inner">
                    <div class="box left">
                        @if (ViewboxApplication.Notes.Count > 0 && ViewboxApplication.Notes[ViewboxSession.User] != null)
                        {
                            var dateString = "";
                            foreach (var note in ViewboxApplication.Notes[ViewboxSession.User])
                            {
                                <div class="inner-box">
                                    <div class="head @(dateString == note.Date.ToString("dd.MMMM yyyy") ? "hide" : "")">
                                        <span class="left">@note.Date.ToString("dddd")</span>
                                        <span class="right">@note.Date.ToString("dd.MMMM yyyy")</span>
                                    </div>
                                    <div class="content inactive">
                                        <div class="title" contenteditable="true">@note.Title</div>
                                        <div class="delete">x</div>
                                    </div>
                                    <span class="item-id">@note.Id</span>
                                </div>
                                dateString = note.Date.ToString("dd.MMMM yyyy");
                            }
                        }
                       
                        <div class="inner-box replace">
                            <div class="head">
                                <span class="left">@DateTime.Now.ToString("dddd")</span>
                                <span class="right">@DateTime.Now.ToString("dd.MMMM yyyy")</span>
                            </div>
                            <div class="content inactive">
                                <div class="title" contenteditable="true">@Resources.NewNote</div>
                                <div class="delete">x</div>
                            </div>
                            <span class="item-id"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side right">
                <div class="head-inner">
                    <div class="headline" contenteditable="false"></div>
                    <div class="date"></div>
                </div>
                <div class="content-inner">
                    <div class="box right"><div class="text normal" contenteditable="false"></div></div>
                </div>
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
</div>