@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ITableObjectList    
@{
    ICategory Category = Model.Categories.FirstOrDefault();
    RightType typeRight;
    String rightsTypeclass = String.Empty;
    if (Model.RightsMode && Category != null)
    {
        //IsAllowed methods are only called once because they are more processor hungry
        typeRight = Category.IsTableTypeAllowedInRightsMode(Model.Type) ? RightType.None : RightType.Read;
        //the eye that represents that a table can be added or is it already added to user or role
        rightsTypeclass += (typeRight == RightType.None) ? "readable" : "not-readable";
    }
}
<!-- _ReportPopupTabHeaderPartial.cshtml -->
<div class="reporttabheader @(!(Model.ShowEmpty || Model.ShowHidden || Model.ShowArchived) ? "selected" : "") @rightsTypeclass" >
    @if (Model.ShowEmpty || Model.ShowHidden || Model.ShowArchived)
    {
        <a class="headercontent" href="@Url.Action(null, new {id = Category.Id, sortColumn = Model.SortColumn, direction = Model.Direction, page = 0, size = Model.PerPage, json = true, search = Model.SearchPhrase})">@(String.Format(Resources.VisibleTables, (Model.Type == TableType.Table ? Resources.Tables : (Model.Type == TableType.View ? Resources.Views : Resources.Issues))) + " (" + Model.TableCount.VisibleTableCount + ")")</a>
    }
    else
    {
        <div class="headercontent"> @(String.Format(Resources.VisibleTables, (Model.Type == TableType.Table ? Resources.Tables : (Model.Type == TableType.View ? Resources.Views : Resources.Issues))) + " (" + Model.TableCount.VisibleTableCount + ")")</div>
    }
</div>