@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ITableObjectList


@Html.Partial("_TooltipPartial", Resources.Enlarge)
@Html.Partial("_ListArchiveOptionsPartial", Model.ArchiveListOptions)

@if (!Model.TableObjects.Any())
{
    <a href="javascript: void(0)" class="icon pdfexport-overview disabled"></a>
}
else
{
    <a href=@Url.Action("ExportTableOverview", "Export", new
                                                                               {
                                                                                   type = Model.Type,
                                                                                   id = (Model.SelectedCategory != null ? Model.SelectedCategory.Id : -1),
                                                                                   search = Model.SearchPhrase,
                                                                                   showEmpty = Model.ShowEmpty,
                                                                                   sortColumn = Model.SortColumn,
                                                                                   direction = Model.Direction,
                                                                                   page = Model.CurrentPage,
                                                                                   size = Model.PerPage,
                                                                                   showHidden = Model.ShowHidden,
                                                                                   showEmptyHidden = Model.ShowEmptyHidden,
                                                                                   showArchived = Model.ShowArchived
                                                                               }) class="icon pdfexport-overview"></a>
}

@Html.Partial("_TooltipPartial", Resources.PDFExport)



<div class="search-panel">
    <div class="bg-left"></div>
    @using (Html.BeginForm(null, null, FormMethod.Get, new Dictionary<string, object> { { "id", "searchoverview" } }))
    {
        if (Model.Type == TableType.Table)
        {
            <input class="field bg-middle placeholder" name="search" type="text" value="@((ViewboxSession.TableSortAndFilterSettings != null && !String.IsNullOrEmpty(ViewboxSession.TableSortAndFilterSettings.Filter)) ? ViewboxSession.TableSortAndFilterSettings.Filter : Model.LabelSearch)" placeholder="@Model.LabelSearch" />
        }
        else
        {
            <input class="field bg-middle placeholder" name="search" type="text" value="@((ViewboxSession.ViewSortAndFilterSettings != null && !String.IsNullOrEmpty(ViewboxSession.ViewSortAndFilterSettings.Filter)) ? ViewboxSession.ViewSortAndFilterSettings.Filter : Model.LabelSearch)" placeholder="@Model.LabelSearch" />
        }
        <input type="submit" class="submit" value="" />
    }
</div>