@using System.Configuration
@using AV.Log
@using Viewbox.Properties
@using log4net
@model HandleErrorInfo
           
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = @Resources.Error;
    ILog _log = LogHelper.GetLogger();
    _log.ErrorWithCheck("Exception occurred while generating table.", Model.Exception);
}
<!-- CustomError.cshtml -->
<h2>@Resources.UnhandledExceptionMessage</h2>
<p>@Model.Exception.Message</p>
<p>@Resources.ContactInfo</p>
<p>@Resources.EMail: <a href="mailto:@ConfigurationManager.AppSettings["ViewboxMailAddress"]">@ConfigurationManager.AppSettings["ViewboxMailAddress"]</a></p>
<p>@Resources.Phone: @Resources.ContactPhone</p>