@using Viewbox
@using Viewbox.Properties
@using Viewbox.Models
@model DataGridModel
@helper PrintNodes(IEnumerable<DcwBalanceModel.DcwNode> list)
{
    foreach (var node in list)
    {
        <div class="clear">
        </div>
        var children = new List<DcwBalanceModel.DcwNode>(node.Children);
        var classname = "tree-node" + (children.Count > 0 ? " open" : String.Empty);
        var valueclass = (node.Type == DcwBalanceModel.DcwNodeType.Structure ? "dcw-structure" : "dcw-account") + (node.Value < 0 || node.Value2 < 0 ? " negative" : String.Empty);
        <div class="@classname">
            <div class="@valueclass">
                <div class="node-descr">@node.OrderingText @node.Description</div>
                    
                @if (Model.DcwBalance.HasVJahr)
                {
                    <div class="balance-value right">@(((double)node.Sign * node.Value2).ToString("#,0.00"))</div>
                }
                <div class="balance-value right">@(((double)node.Sign * node.Value).ToString("#,0.00"))</div>
                <div class="right">@node.Key</div>
            </div>
            @PrintNodes(children)
        </div>
    }
}
<div class="table-container balance-container">
    @{
        var list = Model.DcwBalance.TreeRoot.Children;
    }
    <div class="balance-parameters left">
        <div class="balance-parameter left">
            <div class="balance-parameter-name left">@Model.DataGridNameDescription() :</div>
            <div class="left">@Model.TableInfo.GetDescription()</div>
        </div>
        @foreach (var par in Model.DcwBalance.GetParameters())
        {
            <div class="balance-parameter left">
                <div class="balance-parameter-name left">@par.Item1 :</div>
                <div class="left">@par.Item2</div>
            </div>
        }
    </div>
    <div class="clear">
    </div>
    <div class="balance-header">
        <div class="left">@Resources.DCWDescription</div>
        <div class="balance-scroll-header right">&nbsp;</div>
        @if (Model.DcwBalance.HasVJahr)
        {
            <div class="balance-value right">@Resources.DCWOldValue</div>
        }
        <div class="balance-value right">@Resources.DCWValue</div>
        <div class="balance-value right">Konto-Nr</div>
    </div>
    <div class="clear">
    </div>
    <div class="balance-view scroll">
        @if (list.Any())
        {
            @PrintNodes(list)
        }
        else
        {
            <div class="no-data-balance">@Model.LabelNoData</div>
        }
    </div>
</div>