@using Viewbox
@model Viewbox.Models.DataGridModel
<thead>
    <tr>
        @{
            var invisibleColumnCount = 0;
        }
        @foreach (var Column in Model.TableInfo.Columns)
        {
            if (!Model.DataTable.Columns.Contains(Column.Name))
            {
                continue;
            } // schrottige systemdb

            bool ascending = false;
            bool descending = false;
            if (Model.TableObject != null && Model.TableObject.Sort != null)
            {
                var sort = Model.TableObject.Sort.FirstOrDefault((s) => s.cid == Column.Id);
                if (sort != null)
                {
                    if (sort.dir == ViewboxDb.SortDirection.Ascending)
                    {
                        ascending = true;
                    }
                    if (sort.dir == ViewboxDb.SortDirection.Descending)
                    {
                        descending = true;
                    }
                }
            }
            var Class = "col_" + Column.Ordinal;
            if (!Column.IsVisible)
            {
                Class += " hide";
                invisibleColumnCount++;
            }
            var Style = "";
            if (Model.ColumnWidths != null)
            {
                Style = "width: " + Model.ColumnWidths[Column.Ordinal] + "px";
            }
            <th class="@Class" style="@Style"> 
            <div class="th-content">
                <div class="column-sort">
                    <a href="@Url.Action("Sort", new { 
                            id = Column.Id,
                            tableId = Model.TableInfo.Id,
                            direction = ViewboxDb.SortDirection.Ascending
                        })" class="ascending@(ascending ? " active" : "")"></a>
                    <a href="@Url.Action("Sort", new
                                          {
                                              id = Column.Id,
                                              tableId = Model.TableInfo.Id,
                                              direction = ViewboxDb.SortDirection.Descending
                                          })" class="descending@(descending ? " active" : "")"></a>
                </div>
                <a class="column-name">[@(Column.Ordinal + 1)] @Column.GetDescription()</a>
                <div class="item-id">@Column.Id</div>
            </div>
            </
            th >
        }
        <th class="full-width"><div class="th-content"></div></th>
        <th class="item-id">[ROWNUMBER]</th>
    </tr>
</thead>