@using SystemDb
@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ExportModel
<div class="content-box">
    <div class="content-outer">

        <div class="content-inner left">
            <div class="header">
                <div id="DisplayRowCount" refvalue="@ViewboxSession.User.DisplayRowCount"></div>
                <h3>@Resources.Overview</h3>
                <input type="hidden" id="PageResource952" value="@Resources.Page" />
                <input type="hidden" id="CurrentType" value="@Convert.ToInt32(Model.CurrentType)" />
                <div class="search-panel exportable">
                    <div class="bg-left"></div>
                    <span id="searchoverview_export">
                        <input class="field bg-middle" type="text" value="@Resources.ObjectSearch" name="s"
                               onblur="if (this.value == '') {this.value = '@Resources.ObjectSearch';}"
                               onfocus="if (this.value == '@Resources.ObjectSearch') {this.value = '';}" />
                        <input type="submit" class="submit" value="" />
                        <input type="hidden" id="search_string" value="" />
                    </span>
                </div>
            </div>
            <div class="tabbar">
                @if (Model.CurrentType == TableType.View)
                {
                    <a class="tabheader selected">@Resources.Views</a>
                }
                else if (Model.ShowOtherList)
                {
                    <a href="@Url.Action("Index", new {type = DataObjectType.View})" class="tabheader filter">@Resources.Views</a>
                }
                @if (Model.CurrentType == TableType.Table)
                {
                    <a class="tabheader selected">@Resources.Tables</a>
                }
                else if (Model.ShowOtherList)
                {
                    <a href="@Url.Action("Index", new {type = DataObjectType.Table})" class="tabheader filter">@Resources.Tables</a>
                }
            </div>

            <table class="overview exportables fixedHeader">
                <thead>
                    <tr>
                        <th class="description" style="padding-left: 3px">
                            <a>@Resources.TablesColumns</a>
                            <div class="sorting">
                                <a href="@Url.Action("TableObjects", new { page = 0, type = Model.CurrentType, sortColumn = 1, direction = ViewboxDb.SortDirection.Ascending, json = true })" class="ascending"></a>
                                <a href="@Url.Action("TableObjects", new { page = 0, type = Model.CurrentType, sortColumn = 1, direction = ViewboxDb.SortDirection.Descending, json = true })" class="descending"></a>
                            </div>
                        </th>
                        <th class="rowcount">
                            <a>@Resources.NumberOfRows</a>
                            <div class="sorting">
                                <a href="@Url.Action("TableObjects", new { page = 0, type = Model.CurrentType, sortColumn = 2, direction = ViewboxDb.SortDirection.Ascending, json = true })" class="ascending"></a>
                                <a href="@Url.Action("TableObjects", new { page = 0, type = Model.CurrentType, sortColumn = 2, direction = ViewboxDb.SortDirection.Descending, json = true })" class="descending"></a>
                            </div>
                        </th>
                        <input type="hidden" id="sort_column" value="1" />
                        <input type="hidden" id="sort_direction" value="Ascending" />
                    </tr>
                </thead>
            </table>
            <div id="emptytabletooltip" class="item-id">@Resources.EmptyTableExpand</div>
            <div id="tabContentTableId" class="tab-content twocolums scroll">
                <table id="exportables" class="overview exportables">
                    <tbody>
                        @if (Model.Categories != null && Model.Categories.Count > 0)
                        {
                            foreach (var Category in Model.Categories)
                            {
                                <tr id="node-category-@Category.Id" class="category-row">
                                    <td class="description">
                                        <div class="item-id">@Category.Id</div>
                                        <a href="@Url.Action("TableObjects", new {page = 0, type = Model.CurrentType, id = Category.Id})" class="text category">@Resources.All</a>
                                    </td>
                                    <td class="rowcount"></td>
                                </tr>
                            <!-- Table Objects are not loaded the first time this page is loaded, but counts are calculated -->
                                if (((Model.CurrentType == TableType.Table ? ViewboxSession.TableCount : ViewboxSession.ViewCount) > 0))
                                {
                                    <tr class="loader-row tobject-loader child-of-node-category-@Category.Id">
                                        <td colspan="4"><div class="loader">@Resources.Loading</div></td>
                                    </tr>
                                }
                            }
                        }
                        <tr class="template tobject-row">
                            <td class="description">
                                <div class="item-id"></div>
                                <a class="text" href="@Url.Action("Columns")">
                                    [Description] <br /> [Description Line 2]
                                </a>
                            </td>
                            <td class="rowcount">[RowCount]</td>
                        </tr>
                        <tr class="template column-row">
                            <td class="description">
                                <div class="item-id"></div>
                                <span class="text">[Description]</span>
                            </td>
                            <td><input type="text" class="filterInput" style="display: none;" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (Model.Categories.Any())
            {
                <div id="navigation-row-@Model.Categories.First().Id" class="navigation-row">
                    <div id="navigationId" class="navigation">
                    </div>
                </div>
            }
        </div>
        <div class="mitte"><a href="#"></a></div>
        <div class="content-inner left export-right">
            <div class="header">
                <h3>@Resources.ExportData</h3>
                <div class="search-panel exportable">
                    <div class="bg-left"></div>
                    <span id="search_export_right">
                        <input class="field bg-middle" type="text" value="@Resources.FindJobs" name="s"
                               onblur="if (this.value == '') {this.value = '@Resources.FindJobs';}"
                               onfocus="if (this.value == '@Resources.FindJobs') {this.value = '';}" />
                        <input type="submit" class="submit" value="" />
                        <input type="hidden" id="search_right" value="" />
                    </span>
                </div>
            </div>
            <div class="tabbar">
                <a href="#" class="tabheader active @(!Model.Finished ? "selected" : "")">@Resources.Active</a>
                <a href="#" class="tabheader done filter @(Model.Finished ? "selected" : "")">@Resources.Finished</a>
            </div>
            <table class="overview jobs fixedHeader">
                <thead>
                    <tr>
                        <th class="first"><div>@Resources.StartTime</div></th>
                        <th class="description"><div>@Resources.Description</div></th>
                        <th class="since"><div>@Resources.Running</div></th>
                        <th class="user">@Resources.User</th>
                        <th class="flag action" colspan="2"><div>@Resources.Action</div></th>
                    </tr>
                </thead>
            </table>
            <div class="tab-content scroll jobs @(Model.Finished ? "done filter" : "active")" id="exportjobs" style="top:75px;">
                @Html.Partial("_ExportJobsPartial", Model)
            </div>
        </div>
    </div>
</div>