@using Viewbox
@using Viewbox.Properties
@model Viewbox.Models.ArchiveDocumentsModel
<div class="content-box">
    <div class="content-outer">
        <div class="master-header">
            <div class="header @(Model.ColumnFilterEnabled ? "no-border" : "")">
                <h3>@Resources.Documents</h3>
            </div>
            @Html.Partial("_ImmediateFilterPartial", Model)
        </div>
        <div class="document-content-outer" id="set-top">
            <div class="document-content-inner">
                <div class="content-inner beleg full-width">
                    <div class="header">
                        <div class="nav-controls">
                            @if (Model.FromRow > 0)
                            {
                                <a href="@this.GetUrl(new UrlParam("start", 0))" class="iconx first"></a>
                                <a href="@this.GetUrl(new UrlParam("start", Model.RowsPerPage < Model.FromRow ? Model.FromRow - Model.RowsPerPage : 0))" class="iconx back">
                                </a>
                            }
                            else
                            {
                                <span class="iconx first"></span>
                                <span class="iconx back"></span>
                            }
                            @if (Model.RowsCount > 0)
                            {
                                <span class="from hide">@(Model.FromRow + 1)</span>
                                <span>@((Model.FromRow + 1).ToString("#,0"))
                                    -</span>
                                <span class="current">@(Model.ToRow == Model.RowsCount ? Model.RowsCount.ToString("#,0") : (Model.ToRow + 1).ToString("#,0"))</span>
                                <span>/</span>
                                <span class="count">@Model.RowsCount.ToString("#,0")</span>
                                <span>@Model.LabelNumberOfRows</span>
                            }
                            else
                            {
                                <span>@Model.LabelNoData</span>
                            }
                            @if (Model.ToRow + 1 < Model.RowsCount)
                            {
                                <a href="@this.GetUrl(new UrlParam("start", Model.FromRow + Model.RowsPerPage))" class="iconx next">
                                </a>
                                <a href="@this.GetUrl(new UrlParam("start", Model.RowsCount%Model.RowsPerPage == 0 ? Model.RowsCount - Model.RowsPerPage : Model.RowsCount - Model.RowsCount%Model.RowsPerPage))" class="iconx last">
                                </a>
                            }
                            else
                            {
                                <span class="iconx next"></span>
                                <span class="iconx last"></span>
                            }
                        </div>
                    </div>
                    <div class="tab-content without-tab scroll">
                        @Html.Partial("_ArchiveDocumentsListPartial", Model)
                    </div>
                    <div id="data-grid-column-filter" class="text-filter">
                        @if (Model.Table != null)
                        {
                            <form action="@Url.Action("Filter", new {id = Model.Table.Id})">
                                <input type="hidden" name="column" id="column" />
                                <p>@Resources.Filter</p>
                                <input type="text" name="filter" id="filter" />
                                <input type="submit" class="ok-button" value="OK" />
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>