@model Viewbox.Models.NotReadyModel
@{
    ViewBag.Title = Model.LabelCaption;
}
@section HeadSection {
    <meta http-equiv="refresh" content="@(Model.Countdown == 0 ? 5 : Model.Countdown);url=@Model.ReturnUrl" />
    <script language="javascript" type="text/javascript">
        jQuery(function () {
            (update = function () {
                var current = jQuery('.current').text();
                var duration = jQuery('.duration').text();
                var percentage = current / duration;
                if (Math.round(percentage) < 100) {
                    jQuery('.label.progress').text(Math.round(percentage) + "%");
                } else {
                    jQuery('.label.progress').text("100%");
                }
                if (Math.round(percentage) < 100) {
                    jQuery('.loader .progress').css('width', percentage + "%");
                } else {
                    jQuery('.loader .progress').css('width', "100%");
                }
                setInterval('update', 1000);
            })();
        });
    </script>
}
<div id="startup">
    <div class="hide current">@Math.Floor((DateTime.Now - Model.StartTime).Ticks / 10000m)</div>
    <div class="hide duration">@Math.Floor(Model.Duration.Ticks / 10000m)</div>
    <div class="text">Viewbox</div>
    <div class="label progress">@Math.Floor(Model.Percentage)%</div>
    <div class="loader">
        <div class="progress" style="width: @(Model.PercentageBlockwise.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture))%"></div>
    </div>
</div>